@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);

$green: #86BB71;
$blue: #0066cc;
$orange: #e65c00;
$gray: #92959E;
$red: #b30000;
$silver: #F2F5F8;

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
  color: lighten($orange, 30%);
}

.container-chat {
  margin: 0 auto;
  width: 90%;
  height: 85vh;
  background: #444753;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat {
  width: 80%;
  height: 100%;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: 1;
  
  color: #434651;
  
  .chat-message {
    padding: 30px;
    height: 15%;
    
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
    button {
      float: right;
      color: $orange;
      font-size: 1.3em;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      
      &:hover {
        color: darken($orange, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}