@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;


.container {
  margin: 0 auto;
  width: 90%;
  height: 85vh;
  background: #444753;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.short-out {
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse forwards;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse forwards;
}

.fade-out {
	-webkit-animation: fade-out 0.3s ease-out both;
	animation: fade-out 0.3s ease-out both;
}

.login {
    margin: 0 auto;
    width: 50%;
    text-align: center;

    h1 {
        color: #fff;
    }

    input {
        width: 360px;
		background: #fff;
		color: #a3a3a3;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
    }

    .btn {
        display: inline-block;
        background: transparent;
        color: inherit;
        font: inherit;
        border: 0;
        outline: 0;
        padding: 0;
        transition: all 200ms ease-in;
        cursor: pointer;
        
        &--primary {
            background: #00688B;
            color: #fff;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
            border-radius: 2px;
            padding: 12px 36px;
            
            &:hover {
                background: darken(#00688B, 4%);
            }
            
            &:active {
                background: #00688B;
                box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
            }
        }
        
        &--inside {
            margin-left: -96px;
        }
    }
}


@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@-webkit-keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.2);
              transform: scaleX(0.2);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
}
@keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.2);
              transform: scaleX(0.2);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
}