$green: #86BB71;
$blue: #0066cc;
$orange: #e65c00;
$gray: #92959E;
$red: #b30000;
$silver: #F2F5F8;

.container {
    margin: 0 auto;
    width: 90%;
    height: 85vh;
    background: #444753;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.login {
    margin: 0 auto;
    width: 50%;
    text-align: center;

    h1 {
        color: #fff;
    }

    input {
        width: 80%;
		background: #fff;
		color: $gray;
		font-size: inherit;
		border: 0;
        padding: 22px 18px;
        caret-color: $orange;
    }

    .btn {
        display: inline-block;
        background: transparent;
        font: inherit;
        border: 0;
        outline: 0;
        padding: 0;
        transition: all 200ms ease-in;
        cursor: pointer;
        
        &--primary {
            background: $orange;
            color: #fff;
            border-radius: 2px;
            padding: 12px 36px;
            font-size: 1em;

            &:hover {
                background: darken($orange, 4%);
            }
            
            &:active {
                background: #00688B;
                box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
            }
        }
        
        &--inside {
            margin-left: -96px;
        }
    }
}

.go-out {
    -webkit-animation: go-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse forwards;
    animation: go-out 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse forwards;
}


@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@-webkit-keyframes go-out {
    0% {
        -webkit-transform: scaleX(0.2);
        transform: scaleX(0.2);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}
@keyframes go-out {
    0% {
        -webkit-transform: scaleX(0.2);
        transform: scaleX(0.2);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}